html{
  scroll-behavior: smooth;
 }
  body{
    font-family: "Loto Sans", "Noto Sans Variable", "Noto Sans", "Segoe UI", Helvetica, Arial, sans-serif;;
    color: #9ea3a3;
    font-size: 25px;
  
    background-color:#12343b;
    /* #49274a; */
  }

#navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    background-color: #05403e;
  }
 
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #939f9e;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
   
  }
  #navbar a:hover{
    text-decoration: underline;
  }
  
  #nav{
    display: flex;
    justify-content: end;
    align-content: flex-end;
    
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }