:root{
  --navy-blue:#2d545e ;
  --navy-blue_shadow:#12343b ;
  --tan:#e1b382 ;
  --tan_shadow: #c89666;
  --background: rgb(2,0,36);
  --background: radial-gradient(circle, rgba(2,0,36,0.9026961126247374) 0%, rgba(225,179,130,1) 35%, rgba(18,52,59,1) 100%); 
  --white: #F8F8FF;
  --silver: #C0C0C0;
}

* {
  margin: 0;
  padding: 0;
}



  html{
    scroll-behavior: smooth;
   }
  body{
      font-family: "Champion, Impact, sans-serif";
      color: 	#F8F8FF;
      font-size: 25px;
      
      overflow-x: hidden;
    }
    

    /*------------------------------------------------------------------- navbar------------------------------------------------ */

 .page-header {
      background-color: var(--navy-blue);
    
      display: flex; 
      justify-content: space-between;
      padding: 3% 2%;
    
      
  }
  .nav-bar a{
   
    margin-left: 2%;
    color: var(--tan);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 50px;
    
  }

  .nav-bar a:hover{
    text-decoration:overline;
  
  }
  
  .nav-bar{
   width: 40%;
  }

  .menu-icon {
    color: var(--silver);
    cursor: pointer;
    display: none;


}

.extragap{
  height: 50px;
}

.extragap1{
  height: 150px;
}

 
    
    #icon{
        position: 10px;
        margin-top: 2%;
        padding: 0px 10px;
    }

    
    /* ----------------------------------------------Page content------------------------------------------------------------------ */
  
   a:visited, a:hover{
      color: white;
      text-decoration: underline;
      text-decoration: dotted;
      
    }
    a:link {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    
    
    .content {
      margin-top: 8%;
      width: 100%;
      padding: 16px;
      background: rgb(2,0,36);
      background: radial-gradient(circle, rgba(2,0,36,0.9026961126247374) 0%, rgba(225,179,130,1) 35%, rgba(18,52,59,1) 100%); 
    }
  
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
      padding-top: 60px;

    }
   
   

    /* -------------------------------------------------------------Intro--------------------------------------------------------------- */
    @import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
 
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 10%;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 10s infinite;
}

.first div {
  color: black;
  background-color:var(--silver);
}
.second div {
  background-color:var(--navy-blue_shadow);
}
.third div {
  background-color:#c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

  
    #home{
       padding: 10px;
       display: flex;
       /* display: grid;
       grid-template-columns: 70% 25%; */
       /* border: 1px solid var(--silver); */
        /* margin-top: 8%; */
     
     
    } 
   
     #home img{
        border-radius: 50%;
        width:25%;
        margin-left: 12%;
      
        
      }
      .homeLeft{
     
       width:60%;
       
      }

   
      
/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  /* touch-action: manipulation; */
  right: -12%;
}

.button-54 a{
  color: #000;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/*------------------------------------------------------------------ responsive -------------------------------------------------*/
@media screen and (max-width: 850px) {
  .menu-icon {
      display: block;
      margin-right: 5%;
 }
 .nav-bar {
  display: none;
  position: absolute;
  top: 3.7rem;
  left: 0;
  color: var(--navy-blue_shadow);
  width: 100%;
  background-color: var(--silver);
  text-align: end;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
 
}

.nav-bar.responsive  {
 display: block;
 

}
.nav-bar a {
display: block;
padding-right: 10%;
color: var(--navy-blue_shadow);

transition: all 0.3s ease;

}
.extragap{
  height: 200px;
}
}

 /* ----------------------------------------------------------------ABOUT ME SECTION--------------------------------------------------- */
  
 #aboutMe{
  margin-top: 25%;
  text-align: center;
  background-color: var(--tan_shadow);
  padding: 4%;
}

.about img{
  width: 25%;
  border-radius: 25%;
}

.about{
  display: flex;
  justify-content: space-evenly;
}
#aboutMe h1{
  color: var(--navy-blue_shadow);

 text-shadow: 2px 2px var(--silver);

}
#aboutMe h1:hover{
 text-decoration: underline;

 
}
.about p{
  margin-top: 2%;
  width: 50%;
  text-align: center;
  align-items: center;
  color: var(--navy-blue);
}

@media screen and (max-width: 850px) {

  .about img{
    width: 50%;
    padding: 5%;
  }

.about{
  display: block;
}

.about p{
  margin: auto;
  width: 90%;
}


}


/*---------------------------------------------------------------------- Skills-------------------------------------------------------- */

#skillSec h1{
  /* margin-left: -10%; */
  text-align: center;
  margin-bottom: 4%;
  color: var(--navy-blue_shadow);
  text-shadow: 2px 2px var(--silver);

}

#skillSec h1:hover{
  text-decoration: underline;
}
#skills{
  display: grid;
 
  grid-template-columns: repeat(4,18%);
  grid-template-rows: repeat(2,50%);
 
  /* gap: 2%; */
  row-gap: 10%;
  column-gap: 5%;
  
  width: 50%;
  margin: auto;
  grid-template-areas: 
  "html css js aws"
  "java hyb sb sql"
                        ;

}

#skills div{
  /* border: 2px solid red; */
  padding: 5%;
  
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  border-radius: 3%;
  /* position: relative; */
 
}
#skills img{
  padding-left: 8%;
}
#skills div p{
  text-align: center;
}
@-webkit-keyframes pop-on-hover {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes pop-on-hover {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* .pop-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
} */
.pop-on-hover:hover, .pop-on-hover:focus, .pop-on-hover:active {
  -webkit-animation-name: pop-on-hover;
  animation-name: pop-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#skills div:hover{
 
  background-color: #2d545e;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#skills div:nth-child(1){
  grid-area: html;
}


#skills div:nth-child(2){
  grid-area: css;
}
#skills div:nth-child(3){
  grid-area: js;
}
#skills div:nth-child(4){
  grid-area: aws;

 
}
#skills div:nth-child(5){
  grid-area: java;
}
#skills div:nth-child(6){
  grid-area: sql;
}
#skills div:nth-child(7){
  grid-area: sb;
  font-size: 22px;
}
#skills div:nth-child(8){
  grid-area: hyb;
}

@media screen and (max-width: 850px){
  #skills{
    margin: auto;
    width: 80%;
    padding: 0% 10% 10% 20%;
    grid-template-columns: repeat(2,30%);
    grid-template-rows: repeat(4,20%);
    grid-template-areas: 
    "html css "
    "js aws"
    "java hyb"
    " sb sql"
  }
}

  
    /* -----------------------------------------------------------------------PROJECTS SECTION --------------------------------------*/
  
  
    .psec{
      
      width: 60%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(1,100%);
      grid-template-rows: repeat(3,30%);
      gap: 3%;
      
    }

    #p1{
      background-color:#2d545e;
      margin: auto;
      margin: 1%;
      padding: 5%;
      border-radius: 5%;
      display: flex;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    #project {
      text-align: center;
      margin-top: 10%;
      background-color: var(--navy-blue_shadow);
    }
   
    #project h1{
      color: var(--silver);
      padding: 4%;
      text-shadow: 2px 2px var(--navy-blue);
    }

    #project h1:hover{
      text-decoration: underline;
    }
   
  
    #p1 p{
      font-size: 18px;
    }
  
     
    
    #p1 img{
      width:200px;
      height: 130px;
      border: 3px solid var(--navy-blue_shadow);
      border-radius: 5%;
      margin: auto;
    }

    .pRight h2{
      padding: 2%;
      font-family:'Times New Roman', Times, serif;
    }
    #p1:hover{
      background-color: #c89666;
      color:var(--navy-blue_shadow);
    }
  .pRight p:nth-child(3){
    padding: 5% 1%;
    text-align: center;
  }
  
  .p-button{
    padding: 2% 4%;
    border: none;
    border-radius: 30%;
    background-color: var(--silver);
    margin: 2%;
  }
  .p-button a{
    color: #000;
  }
   
  
  @media screen and (max-width: 850px) {
    #p1{
      display: block;
      height: auto;
    }
   .psec{
    width: 80%;
   }
    #p1{
      padding: 10%;
    }
    .p-button{
      margin: 0.5%;
    }
  }
  