:root{
  --navy-blue:#2d545e ;
  --navy-blue_shadow:#12343b ;
  --tan:#e1b382 ;
  --tan_shadow: #c89666;
  --background: rgb(2,0,36);
  --background: r-gradient(circle, rgba(2,0,36,0.9026961126247374) 0%, rgba(225,179,130,1) 35%, rgba(18,52,59,1) 100%); 
  --white: #F8F8FF;
  --silver: #C0C0C0;
}

* {
  margin: 0;
  padding: 0;
}



  html{
    scroll-behavior: smooth;
   }
  body{
      font-family: "Raleway Black Head";
      color: 	#F8F8FF;
      font-size: 25px;
      
      overflow-x: hidden;
      /* overflow-y: hidden; */
    }
    

    /*------------------------------------------------------------------- navbar------------------------------------------------ */

 .page-header {
      background-color: var(--navy-blue);
    
      display: flex; 
      justify-content: space-between;
      padding: 3% 2%;
      height: 40px;
      
  }
  .nav-bar a{
   
    margin-left: 2%;
    color: var(--tan);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /* height: 50px; */
    
  }

  .nav-bar a:hover{
    text-decoration:overline;
  
  }
  
  .nav-bar{
   width: 40%;
   
  }

  .menu-icon {
    color: var(--silver);
    cursor: pointer;
    display: none;


}



 
    
  
    #icon{
        position: 10px;
        margin-top: 2%;
        padding: 0px 10px;
    }

    
    /* ----------------------------------------------Page content------------------------------------------------------------------ */
  
   a:visited, a:hover{
      color: white;
      text-decoration: underline;
      text-decoration: dotted;
      
    }
    a:link {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    
    
    .content {
      margin-top: 8%;
      width: 100%;
      padding: 16px;
      background: rgb(2,0,36);
      background: linear-gradient(to bottom, rgba(2,0,36,0.9026961126247374) 0%, rgba(225,179,130,1) 35%, rgba(18,52,59,1) 100%); 
    }
  
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
      padding-top: 60px;

    }
   
   

    /* -------------------------------------------------------------Intro--------------------------------------------------------------- */
    @import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
 
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 10%;
}

  
    #home{
      
       padding-top: 20px;
       display: flex;
       
    } 
   
     #home img{
        border-radius: 50%;
        width:25%;
        margin: auto;
        margin-right: 10%;
      
        
      }
      .homeLeft{
      
       width:75%;
       margin: auto;
       padding: 5%;
       display: block;
       
      }

   
      
/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* right: -12%; */
  margin-top: 10%;
}

.button-54 a{
  color: #000;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/*------------------------------------------------------------------ responsive -------------------------------------------------*/
@media screen and (max-width: 850px) {
  .page-header {
    background-color: var(--navy-blue);
  
    display: flex; 
    justify-content: space-between;
    /* padding: 3% 2%; */
    height: 40px;
    
}
  body {
    overflow-x: hidden;
    width: 100%;
    margin: auto;
  }
  .menu-icon {
      display: block;
      margin-right: 5%;
 }
 .nav-bar {
  display: none;
  position: absolute;
  top: 3.7rem;
  left: 0;
  color: var(--navy-blue_shadow);
  width: 100%;
  background-color: var(--silver);
  text-align: end;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
 
}

.nav-bar.responsive  {
 display: block;
 

}
.nav-bar a {
display: block;
padding-right: 10%;
color: var(--navy-blue_shadow);

transition: all 0.3s ease;

}
.extragap{
  height: 200px;
}
}

 /* ----------------------------------------------------------------ABOUT ME SECTION--------------------------------------------------- */
  
 #aboutMe{
  margin-top: 10%;
  text-align: center;
  /* background-color: var(--tan_shadow); */
  padding: 4%;
  padding-top: 150px;
}

.about img{
  width: 25%;
  border-radius: 25%;
}

.about{
  display: flex;
  justify-content: space-evenly;
}
#aboutMe h1{
  color: var(--navy-blue_shadow);

 text-shadow: 2px 2px var(--silver);

}
#aboutMe h1:hover{
 text-decoration: underline;

 
}
.about p{
  margin-top: 2%;
  width: 50%;
  text-align: center;
  align-items: center;
  color: var(--navy-blue_shadow);
  font-weight: bolder;
 
}

@media screen and (max-width: 768px) {

  .about img{
    width: 40%;
    padding: 5%;
  }

.about{
  display: block;
}

.about p{
  margin: auto;
  width: 70%;
  font-size: 20px;
}


}

@media screen and (max-width: 480px) {
 .hello{
  font-size: 18px;
 }
  .about img{
    width: 30%;
    padding: 5%;
  }

.about{
  display: block;
}

.about p{
  margin: auto;
  width: 70%;
  font-size: 18px;
}


}


/*---------------------------------------------------------------------- Skills-------------------------------------------------------- */

#skillSec h1{
 
 padding-top: 150px;
  text-align: center;
  color: var(--navy-blue_shadow);
}

#skillSec h1:hover{
  text-decoration: underline;
}

#skillSec h3{
  margin: auto;
  margin-top: 2%;
  text-align: center;
  padding: 2%;
  text-shadow:2px 2px #2d545e;
}

#skills{
  display: grid;
  grid-template-columns: repeat(4,18%);
  grid-template-rows: repeat(3,15%);
 
  /* gap: 2%; */
  row-gap: 30%;
  column-gap: 5%;
  
  width: 50%;
  margin: auto;
  grid-template-areas: 
  "html css js aws"
  "java hyb sb sql"
  "git vs no ex"
                        ;

}
#soft-skills,#c-skills {
  margin-top: 1000px;
  display: grid;
  grid-template-columns: repeat(5,18%);
  column-gap: 5%;
  
  width: 60%;
  margin: auto;
  grid-template-areas: 
  "tw ps pr ad co"

}

#soft-skills div,#c-skills div ,#skills div{
  /* border: 2px solid red; */
  display: block;
  
  background-color: var(--white);

  width: 80%;
  margin: auto;
  border-radius: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* position: relative; */
 
}
#skills img,#soft-skills img , #c-skills img{
  display: block;
  width: 50%;
  margin: 5% auto;
}
#skills div p,#soft-skills div p , #c-skills div p{
  text-align: center;
  font-size: 14px;
  padding: 2%;
  padding-bottom: 5%;
  color: #e1b382;
  font-weight: bold;
}
@-webkit-keyframes pop-on-hover {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes pop-on-hover {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* .pop-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
} */
.pop-on-hover:hover, .pop-on-hover:focus, .pop-on-hover:active {
  -webkit-animation-name: pop-on-hover;
  animation-name: pop-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#soft-skills div:hover,#c-skills div:hover,#skills div:hover{
 
  background-color: #2d545e;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#skills div:nth-child(1){
  grid-area: html;
}


#skills div:nth-child(2){
  grid-area: css;
}
#skills div:nth-child(3){
  grid-area: js;
}
#skills div:nth-child(4){
  grid-area: aws;

 
}
#skills div:nth-child(5){
  grid-area: java;
}
#skills div:nth-child(6){
  grid-area: sql;
}
#skills div:nth-child(7){
  grid-area: sb;
  font-size: 22px;
}
#skills div:nth-child(8){
  grid-area: hyb;
}
#skills div:nth-child(9){
grid-area: git;
}

#skills div:nth-child(10){
grid-area: vs;
}
#skills div:nth-child(11){
  grid-area: no;
}
#skills div:nth-child(12){
 grid-area: ex; 
}

#soft-skills div:nth-child(1){
  grid-area:  tw;
}
#soft-skills div:nth-child(2){
  grid-area:  pr;
}
#soft-skills div:nth-child(3){
  grid-area:  ps;
}
#soft-skills div:nth-child(4){
  grid-area:  co;
}
#soft-skills div:nth-child(5){
  grid-area:  ad;
}

#c-skills div:nth-child(1){
  grid-area:  tw;
}
#c-skills div:nth-child(2){
  grid-area:  pr;
}
#c-skills div:nth-child(3){
  grid-area:  ps;
}
#c-skills div:nth-child(4){
  grid-area:  co;
}
#c-skills div:nth-child(5){
  grid-area:  ad;
}



@media screen and (max-width: 850px){
  #skills{
    margin: auto;
    width: 80%;
    padding: 5%;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(4,2%);
    
    /* gap: 3%; */
    border: 1px solid red;
    grid-template-areas: 
    "html css js"
    "aws java hyb"
    " sb sql vs"
    "no ex git"
    
  }

  
#soft-skills div,#c-skills div ,#skills div{
  /* border: 2px solid red; */
  display: block;
  
  background-color: var(--white);

  width: 50%;
 
}
#c-skills div ,#skills div{
padding: 5%;

}

#soft-skills,#c-skills {
  border: 2px solid blue;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 5%;
  
  width: 90%;
  margin: auto;
  grid-template-areas: 
  "ps pr tw"
  "ad co ."

}
}

@media screen and (max-width: 480px){
  body{
    overflow-x: hidden;
  }
  #skills{
    margin: auto;
    width: 80%;
    padding: 5%;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(4,2%);
    
    /* gap: 3%; */
    border: 1px solid red;
    grid-template-areas: 
    "html css js"
    "aws java hyb"
    " sb sql vs"
    "no ex git"
    
  }

  
#soft-skills div,#c-skills div ,#skills div{
  /* border: 2px solid red; */
  display: block;
  
  background-color: var(--white);

  width: 50%;
 
}
#c-skills div ,#skills div{
padding: 5%;

}

#soft-skills,#c-skills {
  border: 2px solid blue;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 5%;
  
  width: 90%;
  margin: auto;
  grid-template-areas: 
  "ps pr tw"
  "ad co ."

}
#skills div p,#soft-skills div p , #c-skills div p{
  text-align: center;
  font-size: 10px;
  padding: 2% 3%;
  padding-bottom: 5%;
  color: #e1b382;
  font-weight: bold;
}
}

  
    /* -----------------------------------------------------------------------PROJECTS SECTION --------------------------------------*/
  
  
    .psec{
      
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3,30%);
      grid-template-rows: repeat(1,100%);
      gap: 3%;
     
      
    }

    #p1{
      background-color:#2d545e;
      margin: auto;
      margin: 1%;
      padding: 5%;
      border-radius: 5%;
      /* display: flex; */
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    #project {
      text-align: center;

      padding-top: 70px;
    }
   
    #project h1{
      color: var(--silver);
      padding: 4%;
      text-shadow: 2px 2px var(--navy-blue);
    }

    #project h1:hover{
      text-decoration: underline;
    }
   
  
    #p1 p{
      font-size: 18px;
    }
  
     
    
    #p1 img{
      width:200px;
      height: 130px;
      border: 3px solid var(--navy-blue_shadow);
      border-radius: 5%;
      margin: auto;
    }

    .pRight h2{
      padding: 2%;
      font-family:'Times New Roman', Times, serif;
    }
    #p1:hover{
      background-color: #c89666;
      color:var(--navy-blue_shadow);
    }
  .pRight p:nth-child(3){
    padding: 5% 1%;
    text-align: center;
  }
  
  .p-button{
    padding: 2% 4%;
    border: none;
    border-radius: 30%;
    background-color: var(--silver);
    margin: 2%;
  }
  .p-button a{
    color: #000;
  }
   
  
  @media screen and (max-width: 768px) {
    #p1{
      display: block;
      height: auto;
    }
   .psec{
    width: 80%;
   }
    #p1{
      padding: 10%;
    }
    .p-button{
      margin: 0.5%;
    }
    .psec{
      
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(3,1fr);
      gap: 3%;
     
      
    }
  }


  @media screen and (max-width: 480px) {
    #p1{
     
      height: auto;
    }
  
    #p1{
      padding: 10%;
    }
    .p-button{
      margin: 0.5%;
    }

    .psec{
      
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(3,1fr);
      gap: 3%;
     
      
    }
  }



#contact{
  text-align: center;
  padding: 5%;
  
}

#contact div{
  margin-top: 2%;
  justify-content: center;
  display: flex;
  width: 50%;
  margin: auto;

}
#contact h1{
margin-bottom: 2%;
}
#contact img{
    width: 5%;
  }
#contact div:last-child img{
  width:100%
}
  

