html{
  scroll-behavior: smooth;
 }
  body{
    font-family: "Loto Sans", "Noto Sans Variable", "Noto Sans", "Segoe UI", Helvetica, Arial, sans-serif;;
    color: #9ea3a3;
    font-size: 25px;
  
    background-color:#12343b;
    /* #49274a; */
  }

#navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    background-color:#e1b382;
    color: black;
  }
 
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
   
  }
  #navbar a:hover{
    text-decoration: underline;
  }
  
  #nav{
    display: flex;
    justify-content: end;
    align-content: flex-end;
    
  }
  

  /* Page content */

  .content {
    padding: 16px;
  }

 a:visited, a:hover{
    
    
   
    color: white;

    text-decoration: underline;
    text-decoration: dotted;
    
  }
  a:link {
    text-decoration: none;
  }
  
  
  
  a:hover {
    text-decoration: underline;
  }
  
  
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  #home{
    display: flex;
  }
 #home img{
    border-radius: 50%;
  }
  .homeLeft{
    margin-right: 0%;
    margin-left: 10%;
  }
  
  

  /* PROJECTS SECTION */

  #project h1{
    margin-top: 250px;
    text-align: center;
    color:#f4decb;
   
  }
  #p1{
    background-color:#2d545e;
    display: flex;
    margin: 2% 20%;
    color:#e6fade;
    padding: 5px;
  }
  #p1 img{
    margin: 5%;
    border:2px solid  #0c2b47 ;

  }
  button {
    color: white;
    background-color:#699569;
    
    padding: 2% ;
    border-radius: 15%;
  
    border: none;

  }

  #p1 p{
    font-size: 20px;
  }

   #project button {
    color: white;
    background-color:#10302b;
   
    padding: 3% ;
    border-radius: 15%;
  
    border: none;

  }
  
  #p1 img{
    width:30%;
  }


  #myPics{

    width:25%;
   margin-left: 50%;
  }
  

  /* ABOUT ME SECTION */

  #aboutMe{
    text-align: center;
  }